:markdown
  ## Senior

  Senior Frontend Engineers are experienced developers who meet the following requirements:
  
  1. Technical Skills
      * Are able to write modular, well-tested, and maintainable code
      * Know a domain really well and radiate that knowledge
      * Contribute to one or more complementary projects
  2. Leadership
      * Begins to show architectural perspective
      * Proposing new ideas, performing feasibility analyses and scoping the work
  3. Code quality
      * Leaves code in substantially better shape than before
      * Fixes bugs/regressions quickly
      * Monitors overall code quality/build failures
      * Creates test plans
  4. Communication
      * Provides thorough and timely code feedback for peers
      * Able to communicate clearly on technical topics
      * Keeps issues up-to-date with progress
      * Helps guide other merge requests to completion
      * Helps with recruiting
  5. Performance & Scalability
      * Excellent at writing production-ready code with little assistance
      * Able to write complex code that can scale over a large dataset
