---
layout: default
title: GitLab Contributing Organizations program
suppress_header: true
extra_css:
  - customer-contributor-common.css
  - faq.css
extra_js:
  - faq.js
---

.wrapper
  .simple-header
    .header-content
      %img{ src: "/images/community/community-customers.svg" }

    %h1 Join the ranks of GitLab Contributing Organizations!

  .centered-form
    %p
      At GitLab everyone can contribute. As a matter of fact, many of our users provide valuable feedback and
      code to accelerate developing new GitLab features as a part of their job.

    %p
      The GitLab Contributing Organizations program seeks to empower and support
      organizations who are helping to shape GitLab and to guide
      them through their contribution journey.

    %h3
      %strong
        Benefits

    %ul
      %li Training
      %li Dedicated support channel
      %li Badging for individual contributors
      %li Website listing of participating organizations

    %h3
      %strong
        Requirements
    
    %p
      Participants must: 
    %ul
      %li Have contributed at least one merged Merge Request (MR). 
      %li Be part of an organization that endorses their contribution to GitLab as a part of their role.
      %li Make sustained contributions during the year (as measured by merged MRs).  

.container-fluid.join-us#join-us
  .col-md-8.col-md-offset-2
    .text-center
      %h3
        %strong
          Become a member
      -# haml-lint:disable LineLength
      %a.btn.cta-btn.accent.margin-top20{ href: "https://docs.google.com/forms/d/e/1FAIpQLSf8iUyCNHSO5SORp_KHGySnTjtYA_q0HerJh6PIbB1xqYdsWg/viewform?usp=sf_link" }
        Apply today

= partial "/includes/home/customer-contributor-logos"

.content-container.animated
  .container
    %h2.faq-title.light.text-center
      Frequently Asked Questions
    .faq-holder.clearfix
      %ol.faq-container.list-unstyled
        %li.faq-item
          .faq-inner-item
            %a.faq-question.js-faq-question{ href: "#" }
              How's this program different from the Core Team?
              %i.fa.fa-angle-down.pull-right
            .faq-answer
              %p
                The Core Team membership is not tied to an organization and
                Core Team membership is via invitation-only based on sustained
                contribution to GitLab over an extended period.
      %ol.faq-container.list-unstyled
        %li.faq-item
          .faq-inner-item
            %a.faq-question.js-faq-question{ href: "#" }
              How's this program different from the Code Contributor Program ?
              %i.fa.fa-angle-down.pull-right
            .faq-answer
              %p
                The Contributing Organizations program is designed to recognize and support organizations who are making a sustained commitment to contributing to GitLab.
